html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* layout basics (kept) */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home-background {
    background-image: url('/images/auto.jpg'); /* vervang met jouw afbeelding */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* volledige schermhoogte */
    width: 100%;
}
.home-text {
    color: white; /* Witte tekst */
    max-width: 800px; /* Maximum breedte */
    margin: 0 auto; /* Centraal uitlijnen */
    text-align: center; /* Tekst gecentreerd binnen de box */
    padding: 20px;
}